@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- demo root element -->
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/StoreInventory/Batch"><i class="fa fa-dashboard"></i> 库存批次明细</a></li>
            </ol>
        </div>
        <div class="box-body">

            <div class="row" style="margin-bottom:10px;" slot="customSearch">
                <div class="col-xs-3 col-sm-2">
                    <el-input v-model="table.args.batchNo" placeholder="批次号" debounce="500" clearable />
                </div>
                <div class="col-xs-3 col-sm-2">
                    <el-input v-model="table.args.productCodeOrBarCode" placeholder="商品编码" debounce="500" clearable />
                </div>
                <div class="col-xs-3 col-sm-2">
                    <el-input v-model="table.args.SNCode" placeholder="商品串码" debounce="500" clearable />
                </div><div class="col-xs-3 col-sm-2">
                    <el-input v-model="table.args.productName" placeholder="商品名" debounce="500" clearable />
                </div>
                <div class="col-xs-3 col-sm-2">
                    <supplier-selector v-model="table.args.supplierId" placeholder="供应商" ref="suppliertable"></supplier-selector>
                </div>
                <div class="col-xs-3 col-sm-2">
                    <store-selector v-model="table.args.storeId" placeholder="门店"></store-selector>
                </div>
            </div>
            <el-row class="row-bottom">
                <el-col v-bind:sm="12" v-bind:md="12">
                    <span class="input-group-btn">
                        <el-button type="primary" class="btn btn-flat" v-on:click="loadData">查询</el-button>
                        <el-button class="btn btn-flat" v-on:click="clearQuery">清除条件</el-button>

                    </span>
                </el-col>
            </el-row>

            <el-row>
                <el-col v-bind:span="24">
                    <el-table class="form-group" ref="$table" v-bind:data="table.rows" border style="width: 100%" v-bind:height="table.height">

                        <el-table-column type="index"></el-table-column>

                        <el-table-column prop="StoreName" label="门店" width="160"></el-table-column>
                        <el-table-column prop="ProductCode" label="商品编码" width="120"></el-table-column>
                        <el-table-column prop="ProductName" label="商品名称" width="230"></el-table-column>
                        <el-table-column prop="SNCode" label="商品串码" width="120"></el-table-column>
                        <el-table-column prop="Specification" label="规格" width="120"></el-table-column>
                        <el-table-column prop="SupplierName" label="供应商" width="200"></el-table-column>
                        <el-table-column prop="PurchaseQuantity" label="入库数" width="80"></el-table-column>
                        <el-table-column prop="CreatedTime" label="入库日期" width="160"></el-table-column>
                        <el-table-column prop="InventoryDay" label="库龄(天)" width="90"></el-table-column>
                        <el-table-column prop="Quantity" label="剩余数" width="70"></el-table-column>
                        <el-table-column prop="LockedQuantity" label="锁定数" width="70"></el-table-column>
                        <el-table-column prop="Price" label="进价" width="70"></el-table-column>
                        <el-table-column prop="BatchNo" label="批次号" width="120"></el-table-column>


                    </el-table>
                    <el-pagination v-bind:current-page="table.page.pageIndex" v-bind:page-size="table.page.pageSize" v-bind:total="table.page.total"
                                   layout="total,sizes,prev,pager,next,jumper"
                                   v-on:size-change="onPageSizeChange" v-on:current-change="onPageChange" background>

                    </el-pagination>
                </el-col>
            </el-row>


        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>

</div>

@section scripts{
    <script src="~/Content/vue/plugins/supplier-selector/supplier-selector.js" type="text/javascript"></script>
    <script src="~/Content/vue/plugins/store-selector/store-selector.js" type="text/javascript"></script>

    <script>

        var demo = new Vue({
            components: {

            },
            el: '#app',
            data: {

                table: {
                    height: 450,
                    rows: [],
                    args: { supplierId: '', storeId: '', productCodeOrBarCode: '', batchNo: '', productName: '', SNCode: '' },
                    page: { total: 0, pageIndex: 1, pageSize: global_config.page.pageSize },

                },
                suppliers: [],
            },
            methods: {
                onPageChange: function (page) {
                    this.table.page.pageIndex = page;
                    this.loadData();
                },
                onPageSizeChange: function (pageSize) {
                    this.table.page.pageSize = pageSize;
                    this.loadData();
                },
                loadData: function () {

                    var _self = this;

                    _self.table.args.supplierId = _self.suppliers.toString();
                    _self.table.args.storeId = _self.table.args.storeId.toString();
                    var url = "/StoreInventory/LoadDataBatch";
                    var data = Object.assign({}, _self.table.page, _self.table.args);
                    $.get(url, data, function (result) {
                        if (result.success) {
                            _self.table.rows = result.data;
                            _self.table.page.total = result.total;
                        }
                        else {
                            _self.$message({
                                message: result.error,
                                type: 'error'
                            });
                        }
                    }, "Json");
                },


                clearQuery: function () {
                    if (this.table.args.supplierId != '') {
                        this.$refs.suppliertable.onClear();
                    }
                    this.table.args = { supplierId: '', storeId: '', productCodeOrBarCode: '', batchNo: '', productName: '' };

                },
            },
            created: function () {
                setListPage(this.table, 251);
            },
        })


    </script>
}


