@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="app">
    <div class="box box-primary">
        <div class="box-header">
            <ol class="breadcrumb" style="padding:0px;margin:1px;">
                <li><a href="/SaleOrder/RoList"><i class="fa fa-dashboard"></i>零售退货</a></li>
            </ol>
        </div>
        <div class="box-body">
            <el-row v-bind:gutter="20">
                <el-col v-bind:span="4">
                    <el-input v-model="table.args.OrderCode" placeholder="输入单号" clearable></el-input>
                </el-col>

                <el-col v-bind:span="4">
                    <store-selector v-model="table.args.storeId" placeholder="门店"></store-selector>
                </el-col>
                <el-col v-bind:span="4">
                    <brand-selector v-model="table.args.brandIds" placeholder="品牌" ref="brandtable"></brand-selector>
                </el-col>
                <el-col v-bind:span="4">
                    <category-selector v-model="table.args.categoryId" placeholder="品类"></category-selector>
                </el-col>
            </el-row>
            <el-row v-bind:gutter="20" class="row-bottom">
                @*<el-col v-bind:span="4">
                <el-input v-model="table.args.fjCode" placeholder="富基单号" clearable></el-input>
            </el-col>*@
                <el-col v-bind:span="4">
                    <el-input v-model="table.args.sapCode" placeholder="SAP单号" clearable></el-input>
                </el-col>
                <el-col v-bind:span="4">
                    <el-date-picker v-model="table.args.time" value-format="yyyy-MM-dd" type="daterange" range-separator="—" start-placeholder="制单日期起" end-placeholder="制单日期止">
                    </el-date-picker>
                </el-col>

            </el-row>
            <el-row class="row-bottom">
                <el-col v-bind:sm="12" v-bind:md="12">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-flat" v-on:click="loadData()">查 询</button>
                        <a class="btn btn-warning btn-flat" href="/SaleOrder/CreateRo">新 增</a>
                    </span>
                </el-col>
            </el-row>
            <el-row>
                <el-col v-bind:span="24">
                    <el-table v-on:cell-click="cellClick" class="form-group" ref="$table" v-bind:data="table.rows" v-bind:height="table.height" border v-on:selection-change="selsChange" @*show-summary v-bind:summary-method="getSummaries"*@>
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column type="index"></el-table-column>
                        <el-table-column prop="Code" label="单号" width="150"></el-table-column>
                        <el-table-column prop="SapCode" label="SAP单号" width="100"></el-table-column>
                        <el-table-column prop="StoreName" label="销售门店" width="200"></el-table-column>
                        <el-table-column prop="CreatedByName" label="制单人" width="150"></el-table-column>
                        <el-table-column prop="CreatedOnTime" label="制单时间" width="150"></el-table-column>
                        <el-table-column prop="StatusName" label="状态" width="100"></el-table-column>
                        <el-table-column prop="Remark" label="备注" width="200"></el-table-column>
                        <el-table-column label="操作" width="87">
                            <template slot-scope="scope">
                                <subpage-dialog type="text" text="详情" title="销售退单详情" v-bind:url="'/SaleOrder/ShowDetail?code='+scope.row.Code"></subpage-dialog>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination v-bind:current-page="table.page.pageIndex" v-bind:page-size="table.page.pageSize" v-bind:total="table.page.total"
                                   layout="total,sizes,prev,pager,next,jumper" @*v-bind:page-sizes="table.args.pageSize"*@
                                   v-on:size-change="onPageSizeChange" v-on:current-change="onPageChange" background>

                    </el-pagination>
                </el-col>
            </el-row>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="clearfix"></div>
</div>
@section scripts{
<script src="~/Content/vue/plugins/subpage-dialog/subpage-dialog.js"></script>
<script src="~/Content/vue/plugins/brand-selector/brand-selector.js" type="text/javascript"></script>
<script src="~/Content/vue/plugins/category-selector/category-selector.js" type="text/javascript"></script>
<script src="~/Content/vue/plugins/store-selector/store-selector.js" type="text/javascript"></script>
<script src="~/Content/vue/plugins/product-selector/product-selector.js" type="text/javascript"></script>
    <script>

        // bootstrap the demo
        var demo = new Vue({
            components: {
            },
            el: '#app',
            data: {
                table: {
                    height: 450,
                    rows: [],
                    args: {
                        ProductName: '', ProductCode: '', OrderCode: '', storeId: '', brandIds: ''
                        , categoryId: '', createOnFrom: '', createOnTo: '', time: '', fjCode: '', sapCode: ''
                    },
                    page: { total: 0, pageIndex: 1, pageSize: global_config.page.pageSize, isPaging: true }
                },
            },
            methods: {
                cellClick: function (row, column, cell, event) {

                },
                //获取选中的列
                selsChange: function (sels) {
                    this.sels = sels;
                },
                onPageChange: function (page) {
                    this.table.page.pageIndex = page;
                    this.loadData();
                },
                onPageSizeChange: function (pageSize) {
                    this.table.page.pageSize = pageSize;
                    this.loadData();
                },
                loadData: function () {
                    var _self = this;
                    var url = "/SaleOrder/GetReturnOrderList";
                    var data = Object.assign({}, _self.table.page, _self.table.args);
                    $.get(url, data, function (result) {
                        if (result.success) {
                            _self.table.rows = result.data;
                            _self.table.page.total = result.total;
                        }
                        else {
                            _self.$message({
                                message: result.error,
                                type: 'error'
                            });
                        }
                    }, "Json");
                }
            },
            created: function () {
                setListPage(this.table, 293);
            }
        });
    </script>
}






