<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CBEST：商玛特信息管理平台</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/AdminLTE/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/AdminLTE/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/Content/AdminLTE/css/skins/_all-skins.min.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    @RenderBody()
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/Scripts/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    @*<script src="/Content/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js"></script>*@
    <!-- FastClick -->
    @*<script src="/Content/AdminLTE/plugins/fastclick/fastclick.js"></script>*@
    <!-- AdminLTE App -->
    <script src="/Content/AdminLTE/js/app.min.js"></script>
    <script src="/Scripts/jquery.tab.js"></script>
    <script>
        $(function () {
            if (!window.document.showTab) {
                window.document.showTab = showTab; 
            }
            window.document.closeCurrentTab = closeCurrentTab;
           
        });

        function showTab(tabName, link) {
            if (link == "#" || link == "") {
                return;
            }
            $("#main-tab").aceaddtab({ title: tabName, url: link });
        }

        function closeCurrentTab() {
            $("#main-tab").closeCurrentTab();
        }


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
