<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--商玛特生产库-->
    <add name="bigmall_prod" connectionString="database=BigMall;server=localhost;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
    <!--商玛特开发库-->
    <add name="bigmall_dev" connectionString="database=BigMall;server=localhost;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
    <!--商玛特测试库-->
    <add name="bigmall_test" connectionString="database=BigMall;server=localhost;uid=sa;pwd=123456;" providerName="System.Data.SqlClient" />
    <!--mysql测试库-->
    <add name="bigmall_mysql" connectionString="database=bigmall;server=localhost;uid=root;pwd=123456;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--数据库连接启用配置-->
    <add key="dbName" value="bigmall_mysql" />
    <!--SAP模拟接口开关，测试时设置为true，正式环境设置为false-->
    <add key="Sap_Mock" value="true" />
    <add key="PurchaseOrderCloseSet" value="ClosetPurchaseOrderSet"></add>
    <!--单据单个明细项上串码的大个数限制-->
    <add key="ItemMaxSNCodeQuantity" value="300"></add>
    <!--SAP接口访问账户-->
    <add key="Sap_Api_Name" value="town_user" />
    <add key="Sap_Api_Pwd" value="tongtong" />
    <!--SAP接口访问账户-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <!--timeout=120  2小时-->
      <forms loginUrl="/Account/Login" timeout="120"></forms>
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Share/Error">
    </customErrors>
  </system.web>
  <!--<system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        --><!--SAP接口配置--><!--
        <binding name="SapBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        --><!--SAP接口配置--><!--
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_SO_CREATE_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Asale_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="SubmitSaleOrderService.SI_SO_CREATE_OUT_SYN" name="HTTP_Port" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_DN_DELIVERY_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Asale_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="SubmitDeliveryService.SI_DN_DELIVERY_OUT_SYN" name="HTTP_Port1" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PRESALE_BECOME_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Asale_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="ConvertPreSaleOrderService.SI_PRESALE_BECOME_OUT_SYN" name="HTTP_Port2" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_INVENTORY_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Ainventory_info_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="SubmitInventoryDifferenceService.SI_INVENTORY_OUT_SYN" name="HTTP_Port3" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_STO_DELIVERY_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Apurchase_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="TransferOrderOutStockService.SI_STO_DELIVERY_OUT_SYN" name="HTTP_Port4" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_STO_RECEIVE_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Apurchase_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="TransferOrderInStockService.SI_STO_RECEIVE_OUT_SYN" name="HTTP_Port5" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PRESALE_CLOSE_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Asale_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="ClosePresaleOrderService.SI_PRESALE_CLOSE_OUT_SYN" name="HTTP_Port6" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PO_CLOSE_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Apurchase_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="ClosePurchaseOrderService.SI_PO_CLOSE_OUT_SYN" name="HTTP_Port7" />

      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_POSTO_CREATE_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Apurchase_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="SubmitPurchaseOrderService.SI_POSTO_CREATE_OUT_SYN" name="HTTP_Port8" />
      <endpoint address="http://piqas01.cbest.com:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SMT&amp;receiverParty=&amp;receiverService=&amp;interface=SI_PO_RECEIVE_OUT_SYN&amp;interfaceNamespace=urn%3Acb%3Asmt%3Apurchase_data_out" binding="basicHttpBinding" bindingConfiguration="SapBinding" contract="PurchaseOrderInStockService.SI_PO_RECEIVE_OUT_SYN" name="HTTP_Port9" />
    </client>
  </system.serviceModel>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
